
html {
  /* font-size: calc(1em + .2vw); */
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: calc(1em + 2vw);
  }
}

:root {
  --primary-color: #fc3500; /* or try #0066ff for blue vibe */
}


body {
  font-family: 'Trebuchet MS', sans-serif;
  /* color: #01082f; */
  margin: auto;
  background: linear-gradient(to bottom, #f2f2f2, #d8d9dd);
  /* background-image: linear-gradient(#d8d9dd, rgba(37, 39, 44, 1)); */
  /* background-image: url('/static/img/gpt2.webp'); */
  background-repeat: repeat;

  /* box-shadow: inset 0 0 100px hsla(0,0%,0%,.3); */
  min-height: 100%;
}


.g_id_signin {
  transform: scale(1.4);
}

/* .navbar-toggler{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
} */



.navbar-toggler-icon{
    font-size: 2em;
}

.submit-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px;
  --bs-card-border-radius: 1px;
}

.padd {
  /* Add shadows to create the "card" effect */
  margin: 40px auto;
  padding-left: 40px;
  padding-right: 40px;
}

.padd2 {
  padding: 5px;
  display: flex;
  color: #000000;
  text-align:center;
}

.title-padd {
  /* Add shadows to create the "card" effect */
  margin-left: 40px auto;
  margin-right: 40px auto;
}

.img-responsive {
    max-height: 100vh;
    margin: -113px 0;
    padding: 113px 0;
}

.close {
  text-align: right;
}


.btn-c {
  gradient: none;
  --bs-border-radius-lg: 0.1rem;
  --bs-btn-bg: var(--primary-color);
  --bs-btn-color: #fff;
}

.error-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fcdb03;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
}

.cal-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  height: 400px;
  border-radius: 25px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}
.dash-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.4);
  padding: 15px;
  text-align: center;
  height: max-content;
  margin: 15px;
}

.category-card {
  box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.4);
  padding: 15px;
  text-align: center;
  height: max-content;
  margin: 15px;
}

.hmax {
  height: fit-content;
}

.front-page-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.4);
  padding: 25px;
  height: inherit;
  margin: 5px;
  background-color: #f5f5f5;
}


.dash-card2 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 10px 0 rgba(1, 1, 1, 0.4);
  padding: 25px;
  height: inherit;
  margin: 5px;
  /*background-color: #efefef;*/
}

.dash-card3 {
  background: #fff;
  border-radius: 16px;
  border: 1px solid #eee;
  box-shadow:
    0 2px 4px rgba(0,0,0,0.05),
    0 8px 16px rgba(0,0,0,0.1);
  padding: 30px;
  margin: 15px;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.category-card:hover {
  transform: translateY(-4px);
}

.terms-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
}

.alert {
  text-align: center;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-img-top2 {
    height: calc(40vh);
    object-fit: cover;
}

.card-img-ico {
    width: 33%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

/* .nav-link:focus, .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
    padding-bottom: 15px;
} */
.row {
  --bs-gutter-x: 0;
}
.nav-item .dropdown {
  margin-top: 15px;
  padding-top: 50px;
}

.dropdown-menu {
  --bs-dropdown-font-size: calc(1em + .1vw);
  padding-right: 20px;
}

.rentals-card {
    height: calc(40vh + 2(1vw));
   /* padding-bottom: 10px; */

}

.retry {
  margin-top: 15px;
}

.divider {
  border-top: 3px solid #bbb;
}
.navbar-brand {
  float: none;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: calc(1em + 1vw);
}

.table-font {
  font-size: calc(1em + .2vw);
}

.tableFixHead2 .form-control-sm input[type=text], select, textarea {
  width: 10%;
  padding: none;
  margin: none;
}

.tableFixHead2 table {

  padding: .1rem;

}

.bd-navbar .offcanvas-xl {
    background-color: #3a3a3a;
    border-left: 0;
    --bs-offcanvas-width: 500px;
}

.navbar {
  background: rgb(252, 53, 0);
  min-height: 70px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 20px;
  box-shadow: 0 0 100px hsla(0,0%,0%,.3);

}

.navbar2 {
  padding-bottom: 0;
  padding-top: 15;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 5%;
  margin-left: 5%;
}

.nav-item .dropdown {
  padding-top: 0;
}

    /* --bs-nav-link-padding-y: 0.5rem;

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15);
               /* 0px 24px 2px rgba(0,0,0,0.1),
               0px 34px 30px rgba(0,0,0,0.1); */
}


.title2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}


.title3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.4;
}


.title4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.4;
}


.nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2em;
  padding-right: 2em;
  /* text-transform: uppercase; */
  --bs-nav-link-padding-y: 0;
  font-size: 31px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  /* text-transform: uppercase; */
  --bs-nav-link-padding-y: 0;
  font-size: 31px;
}

.nav-link:hover {
  transform: translateY(1px);

}

.nav-link:focus, .nav-link:hover {
    color: rgb(255 255 255);
}

.navb {
  color: rgb(251 251 251 / 84%);
  --bs-navbar-color: #fbfbfb;
}

.footer-link {
  padding: 20px;
  font-size: 24px;
}


a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}


.fleetpic {
  padding: 0px;
  margin: 0px;
  height: AUTO;
  border:1px solid #000;
}
.fleetpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.picrow .col-lg-4 {
  height: 50%;
  padding: 0px;
  margin: 0px;
}

.picrow .col-lg-6 {
  height: 50%;
  padding: 0px;
  margin: 0px;
}

#stats {
  align-items: center;
  align-content: center;
}


#eq_res_disp {
  display: none
}


input[type=text], select, textarea {
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
