{% extends "template.html" %}
{% block content %}
<br><br>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="dash-card card">
        <br><h4>
          About Carolina C&E, Inc - Equipment Rental Division <br><br>
          At Carolina C&E, we are committed to providing you with the correct equipment rentals to complete your job safely and profitably. Whether you are an experienced contractor, a homeowner, or somewhere in between, we have all of the best in rental equipment, including all of your favorite brands.
          <!-- In addition to common items, we also have a large selection of hard-to-find items. So you can stop looking for that particular piece of machinery to complete a job and call us. Chances are, we carry it! -->
          <br><br>
          We are centrally located in Winston-Salem, NC. To learn more about our equipment, browse through our equipment catalog. And for any of our excellent services, capabilities or pricing, please give us a call!        <br><br>
          Book Online Today! or Call Us: (336) 769-6505
        <br><br></h4>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
{% endblock %}
