<!DOCTYPE html>
<html>
  <head>
    <!-- TITLE, DESC, CHARSET, VIEWPORT -->
    <title>C&E RENTAL EQUIPMENT</title>
    <meta charset="utf-8">
    <meta name="description" content="Offline Javascript Calendar App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- STYLESHEET + JAVASCRIPT -->

    <script>
      var equip = "{{ equip }}";
      var profile = null;
      function comPro() {
        window.location.href = "{{ url_for('profile', flow='cal_b') }}";
      };
    </script>

  {% if not current_user.is_anonymous %}

    {% if pro['completed'] == 1 or current_user.is_admin() %}
      <script>
        var profile = "True";
      </script>
    {% endif %}

  {% endif %}

    <script defer src="{{ url_for('static', filename='S4B_calendar.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='S4C_calendar.css') }}">
  </head>
  <body>


  <!-- (A) PERIOD SELECTOR -->

  <div id="calHead">


    <div id="calBanner" style="text-align: center;">

      <form action="{{ url_for('rentals') }}">
        <input style="float: left; padding: 5px; margin:5px;" type="submit" id="goBack" type="button" value="Go Back">
      </form>

      {% if not current_user.is_anonymous %}

        {% if pro['completed'] != 1 and not current_user.is_admin() %}

          <form action="{{ url_for('profile', flow='cal_b') }}">
            <input style="float: left; padding: 5px; margin:5px;" id="comPro" type="SUBMIT" value="Complete Profile">
          </form>

        {% endif %}

        {% if current_user.is_admin() %}
          <h2>Logged in as admin.</h2>
        {% endif %}

        {% if error_msg %}
          <h2>ERROR: {{ error_msg }}</h2>
        {% endif %}

      {% else %}

        <form action="{{ url_for('profile', flow='cal_b') }}">
          <input style="float: left; padding: 5px; margin:5px;" id="comPro" type="SUBMIT" value="Complete Profile">
        </form>

      {% endif %}

          <b style="font-size: 22px;"> {{ equip }} ({{ note }}) </b>

    </div>

    <div id="calBanner" style="text-align: center;">

        <div id="calPeriod">
          <input id="calBack" type="button" value="  &lt;  ">
          <select id="calMonth"></select>
          <input id="calYear" type="number" disabled>
          <input id="calNext" type="button" value="  &gt;  ">
          <input id="calToday" type="button" value="&#9733;" hidden>

        </div>

    </div>
  </div>



    <!-- (B) CALENDAR WRAPPER -->
    <div id="calWrap">
      <div id="calDays"></div>
      <div id="calBody"></div>
    </div>



    <!-- (C) EVENT FORM -->
    <dialog id="calForm"><form action="{{ url_for('reserve', equipment=equip) }}" method="post">
      <div id="evtCX">X</div>
      <h2 class="evt100">Get Estimate For: {{ equip }}</h2>
      <h2 class="evt100">{{ note }}</h2>
      <div class="row">
        <div class="evt50 col-xl-4">
          <label>Start Date:</label>
          <input name="evtStart" id="evtStart" type="date" style="font-size:20pt;"  required>
        </div>
        <div class="evt50 col-xl-4">
          <label>Number of Days</label>
          <input name="evtDays" id="evtDays" type="number" style="font-size:20pt;" value="1"required>
        </div>
        <div class="evt50 col-xl-4">
          <label>Number of Weeks</label>
          <input name="evtWeeks" id="evtWeeks" type="number" style="font-size:20pt;" value="0" required>
        </div>

        <div class="evt50" hidden disabled>
          <label>End</label>
          <input id="evtEnd" type="date" value="10-1-24" required>
        </div>
        <div class="evt50" hidden disabled>
          <label>Text Color</label>
          <input id="evtColor" type="color" value="#000000" required>
        </div>
        <div class="evt50" hidden disabled>
          <label>Background Color</label>
          <input id="evtBG" type="color" value="#ffdbdb" required>
        </div>
        <div class="evt100" hidden disabled>
          <label>Event</label>
          <input id="evtTxt" type="text" value="Rental Reservation for {{ equip }}" required>
        </div>

        <div class="evt100">
          <input type="hidden" id="evtID">
          <input type="button" id="evtDel" name="evtDel" value="Delete">
          <!-- <input type="submit" id="evtSave" value="Reserve"> -->
          <input type="submit" name="evtSave2" id="evtSave2" value="View Estimate & Begin Reservation">
        </div>
      </div>

    </form></dialog>
  </body>
</html>
