{% extends "template.html" %}
{% block content %}


<div class="row dash-card" >
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div>
          <div style="text-align:center;">
          <h1 style="text-align:center;" class="align-middle title3"><b>RENTAL EQUIPMENT DIVISION</b></h1>
          <h6 style="text-align:center;" class="align-middle title3">by</h6>
          <h4 style="text-align:center;" class="align-middle title3"><b>Carolina C&E, Inc</b></h4>
          </div>
          <br>

          <div class="dash-card">
            <h6 class=" title3" >We are centrally located in Winston-Salem, NC. To learn more about our equipment, browse through our equipment catalog.</h6>
            <br>
            <div class="d-grid gap-2 col-8 mx-auto">
              <a class="btn btn-dark btn-lg" type="button" href="/rentals"><b>Click Here to View Rental Equipment</b></a>
            </div>
          </div>
          <br>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>

<div class="row">
</div>



<div class="row padd2" style="background-color:black;">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="dash-card">
        <h3 style="text-align:center; color: #ccc;" class="align-middle title3">There Are a Lot of Reasons to Rent...</h3><br>
        <h6 style="color: #ccc;" class="title3">Trying to start or finish a project and realized that you don’t have the tools or equipment you need?</h6>
        <h6 style="color: #ccc;" class="title3">Looking for one really specific tool that you’ll only need to use once?</h6>
        <h6 style="color: #ccc;" class="title3">Don’t want to deal with huge up-front equipment costs AND maintenance fees?</h6><br>
        <h3 style="text-align:center; color: #ccc;" class="align-middle title3">Just rent it!</h3>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>


<div class="row padd2" >
    <div class="col-xl-4 dash-card2" >
      <div>
          <div class="align-items-center justify-content-center d-flex">
          <img class="card-img-ico embed-responsive-item" src = "/static/calendar2.png" />
          </div>
          <h4 class="title3">Convenient Reservation and Pickup</h4><br>
          <h5 class="title4">Browse our inventory and view availability online. You can call or book your reservation online. We provide delivery to you anywhere in the NC Triad.</h6>
      </div>
    </div>
    <div class="col-xl-4 dash-card2" >
      <div>
          <div class="align-items-center justify-content-center d-flex">
          <img class="card-img-ico embed-responsive-item" src = "/static/dollars-sign2.png" />
          </div>
          <h4 class="title3">Cost Savings Over Purchasing</h4><br>
          <h5 class="title4">Rentals can save you a lot of money, especially when it's equipment that you'll only need to use once or twice.</h6>
      </div>
    </div>
    <div class="col-xl-4 dash-card2" >
      <div>
          <div class="align-items-center justify-content-center d-flex">
            <img class="card-img-ico embed-responsive-item" src = "/static/excavator.png" />
            <img class="card-img-ico embed-responsive-item" src = "/static/electric-saw.png" />
          </div>
          <h4 class="title3">Wide Inventory Selection</h4><br>
          <h5 class="title4">Whether you’re a professional looking for large equipment or a DIY’er looking for something small, we have exactly what you need.</h6>
      </div>
    </div>
</div>


{% endblock %}
