{% extends "template.html" %}
{% block content %}

<br>
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6" style="background-color:white;">
          <br>
          <h2 style="text-align:center;" class="align-middle title3">Rental Equipment Categories</h2>
          <br>
    </div>
    <div class="col-sm-3">
    </div>
</div>

<div class ="padd">
  <div class="row">
    <div class="col-md-4">
      <a class="link-dark" href="./rentals/miniex">
        <div class="dash-card">
          <div class="card rentals-card">
            <img class="card-img-top embed-responsive-item" src = "/static/img/bobcat-e48.webp" />
            <br>
            <h2 class="font-weight-bold">Mini Excavator<h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="link-dark" href="./rentals/skidsteer">
        <div class="dash-card">
          <div class="card rentals-card">
            <img class="card-img-top embed-responsive-item" src = "/static/img/bobcat-s86.webp" />
            <br>
            <h2 class="font-weight-bold">Skid Steer Loader<h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="link-dark" href="./rentals/skidsteer">
        <div class="dash-card">
          <div class="card rentals-card">
            <img class="card-img-top embed-responsive-item" src = "/static/img/bobcat-s86.webp" />
            <br>
            <h2 class="font-weight-bold">Skid Steer Loader<h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
