{% extends "template.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="submit-card card">
      <h4>
        Reservations:
      </h4>

      {% if not res_list %}
      <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
          No reservations to view
        </div>
      </div>
      {% endif %}

      <div class="card tableFixHead">
          <table class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th>Reservation ID</th>
                  <th>Equipment</th>
                  <th>Start Date</th>
                  <th>Reservation Status</th>
                  <th>Fufillment Status</th>
                  <th>View</th>
                </tr>
            </thead>
            {% for res in res_list %}
                <tr>
                   <td>{{ res['res_id'] }}</td>
                   <td>{{ res['equipment'] }}</td>
                   <td>{{ res['start'] }}</td>
                   <td>
                     {% if res['status'] >= 1 %}
                     <span class="badge bg-success"> Complete</span>
                     {% elif res['status'] == 0 %}
                     <span class="badge bg-secondary">In Progress</span>
                     {% elif res['status'] <= -1 %}
                     <span class="badge bg-danger">Cancelled</span>
                     {% endif %}
                   </td>
                   <td>
                     {% if res['status'] <= 1 %}
                     <span class="badge bg-secondary">Not Started</span>
                     {% elif res['status'] == 2 %}
                     <span class="badge bg-secondary">In Progress</span>
                     {% elif res['status'] >= 3 %}
                     <span class="badge bg-success"> Complete</span>
                     {% endif %}
                   </td>
                   <td>
                     <a href="{{ url_for('reservation', id=res['res_id']) }}" class="btn btn-success btn-lg" role="button">View</a>
                   </td>
                </tr>

            {% endfor %}
          </table>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>

{% endblock %}
