<html>
  <head>
    <title>C&E RENTAL EQUIPMENT</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if prod %}
    <script src="https://web.squarecdn.com/v1/square.js"></script>
    {% else %}
    <script src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
    {% endif %}
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SGRXCV5SES"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SGRXCV5SES');
  </script>

  <header class="navbar navbar-expand-xl bd-navbar sticky-top navbar-dark">
    <!-- <nav class="navbar navbar-expand-xl navbar-dark"> -->
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
      <div class="d-xl-none" style="width: 4.25rem;"></div>

      <!-- <a class="navbar-brand mx-auto" href="/"><img src="{{ url_for('static', filename='CCE-LOGO-WEBSITE-WHITE.png') }}" width="100" height="100" alt="">Carolina C&E, Inc</a> -->

      <a class="navbar-brand p-0 me-0 me-lg-2" href="/"><img style="margin:10px" src="{{ url_for('static', filename='CCE-LOGO-WEBSITE-WHITE4.png') }}" height="58" alt=""></a>

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="d-flex">

        <button class="navbar-toggler d-flex d-xl-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

      </div>



      <div class="offcanvas-xl offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel" aria-modal="true" role="dialog">
        <!-- <div class="offcanvas-header px-4 pb-0"> <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">Bootstrap</h5> <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button> </div> -->

        <div class="offcanvas-body p-4 pt-0 p-lg-0">



            <!-- <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav"> -->
              <!-- <li class="nav-item col-6 col-lg-auto">
                <a class="nav-link py-2 px-0 px-lg-2" href="/docs/5.3/getting-started/introduction/">
                  Docs
                </a>
              </li> -->
            <!-- </ul> -->

            <hr class="d-lg text-white-50">

              <ul class="navbar-nav flex-row flex-wrap ms-auto">


                <li class="nav-item col-8 col-xl-auto ">
                  <a class="nav-link navb" href="/rentals">Equipment</a>
                </li>
              </ul>




                <!-- <li class="nav-item col-6 col-lg-auto">
                  <a class="nav-link" href="/about">About Us</a>
                </li> -->

                {% if current_user.is_authenticated %}

                <hr class="d-lg text-white-50">

              <ul class="navbar-nav flex-row flex-wrap">

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle-xl navb" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
                        User
                    </a>
                    <ul class="dropdown-menu">

                      <li class="nav-item">
                          <a href="{{ url_for('profile') }}">View Profile</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li class="nav-item">
                          <a href="/reservations">View Reservations</a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li class="nav-item">
                          <a href="/logout">Log out</a>
                      </li>
                    </ul>
                </li>
              </ul>

                {% if current_user.is_admin() %}

                <hr class="d-lg text-white-50">

              <ul class="navbar-nav flex-row flex-wrap">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle-xl navb" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
                        Admin
                    </a>
                    <ul class="dropdown-menu">

                        <li class="nav-item">
                            <a href="{{ url_for('reservation_list_admin') }}">Reservations</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="nav-item">
                            <a href="{{ url_for('renters_list_admin') }}">Renters</a>
                        </li>


                    </ul>
                </li>
              </ul>

                {% endif %}


                {% else %}

                <hr class="d-lg text-white-50">

              <ul class="navbar-nav flex-row flex-wrap">
                <li class="nav-item col-8 col-xl-auto">
                  <script src="https://accounts.google.com/gsi/client" async></script>
                  <div id="g_id_onload"
                      data-client_id="{{ config['GCID'] }}"
                      data-login_uri="{{ url_for('login')}}"
                      data-auto_prompt="false">
                  </div>
                  <div class="g_id_signin"
                      data-type="standard"
                      data-size="large"
                      data-theme="outline"
                      data-text="sign_in_with"
                      data-shape="rectangular"
                      data-logo_alignment="left">
                  </div>
                </li>
              </ul>
               {% endif %}

        </div>

      </div>

    </nav>
  </header>


  <body>

    {% if success %}
    <br>
    <div class="alert alert-success" role="alert">
      <strong>Success:</strong> {{ success }}
    </div>

    {% endif %}

    {% if error %}
    <br>
    <div class="alert alert-danger" role="alert">
      <strong>Error:</strong> {{ error }}
    </div>

    {% endif %}

    {% if notice %}
    <br>
    <div class="alert alert-primary" role="alert">
      <strong>Notice:</strong> {{ notice }}
    </div>

    {% endif %}


    {% block content %}{% endblock %}

    <br><br>

    <div class="container">
      <footer class="flex-wrap justify-content-between align-items-center border-top">

        <ul class="nav">
          <li class="nav-item footer-link"><a href="{{ url_for('index') }}" class="nav-link  text-body-secondary">Home</a></li>
          <li class="nav-item footer-link"><a href="{{ url_for('terms') }}" class="nav-link text-body-secondary">Terms of Use</a></li>
          <li class="nav-item footer-link "><a href="{{ url_for('terms_reserve') }}" class="nav-link text-body-secondary">Reservation Terms</a></li>
          <li class="nav-item footer-link"><a href="#" class="nav-link text-body-secondary">Copyright © 2025 Carolina C&E, Inc</a></li>
          <li class="nav-item footer-link2"><a class="nav-link text-body-secondary"><i> (Note - Website Still in Development)</i></li>
        </ul>
      </footer>
    </div>

    <div class="modal show" tabindex="-1" role="dialog" id="calandarLoginModal">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header" style="display: block;">
            <h2 class="modal-title title3"><b>Please Sign In</b>
            <button type="button" class="close float-end" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </h2>
          </div>
          <div class="modal-body">
            <p>Privacy is a top priority for us, we do not store any credentials or payment information within this website.</p>
            <p>Use your Google account to sign in to this website without creating a new login.</p>
          </div>
          <div class="modal-footer">

            <h3 style="padding: 30px">
              <script src="https://accounts.google.com/gsi/client" async></script>
              <div id="g_id_onload"
                  data-client_id="{{ config['GCID'] }}"
                  data-login_uri="{{ url_for('login')}}"
                  data-auto_prompt="false">
              </div>
              <div class="g_id_signin"
                  data-type="standard"
                  data-size="large"
                  data-theme="filled_black"
                  data-text="sign_in_with"
                  data-width="200"
                  data-shape="rectangular"
                  data-logo_alignment="center">
              </div>
            </h3>

            <!-- <a class="btn btn-primary btn-lg" href="/login" role="button">Sign In</a> -->
            <h3> </h3>
            <h3> </h3>
            <h3> </h3>

            <!-- <button type="button" class="btn btn-primary">Sign In</button> -->
            <button type="button" class="btn btn-secondary close2 btn-lg" data-dismiss="modal" >Close</button>
          </div>
        </div>
      </div>
    </div>


    <script src="{{ url_for('static', filename='custom.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>
